.checkbox {
    opacity: 0;
    position: absolute;
}

.fa-moon {
    color: aliceblue;
    z-index: 1000;
  }

.label {
    width: 50px;
    height: 26px;
    display: flex;
    background-color:#111;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(.9);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }