body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    font-weight: 700;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    text-decoration: underline;
}